header{
    background: url(../../img/Bitmap_main.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.head{
    width: 35%;
    padding: 100px 60px;
    padding-bottom: 130px;
    color: white;

    &__title{
        font-family: fraunces;
    }

    &__description{
        line-height: 24px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  header{
    background-image: url(../../img/bitmap@2.png);
  }
} 


@media only screen and (min-width: 481px) and (max-width: 1100px){

  header{
    background: url(../../img/Bitmap_main.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.head{
    width: fit-content;
    padding: 100px 60px;
    padding-bottom: 130px;
    color: white;

    &__title{
        font-family: fraunces;
    }

    &__description{
        line-height: 24px;
    }
}
}